# Symlink to this .htaccess file from the root of the WP install.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Manual rewrites.
RewriteRule ^how-i-work/?$ /index.php?page_id=6964 [L,QSA]
RewriteRule ^freelance/?$ /index.php?page_id=6941 [L,QSA]
RewriteRule ^posts/([0-9]+)\.html$ index.php?p=$1 [L]
RewriteRule ^pages/([0-9]+)\.html$ index.php?page_id=$1 [L]
RewriteRule ^posts/index\.html$ index.php?page_id=243 [L]
RewriteRule ^index\.html$ index.php [L]

# Re-write some old tags as the new ones.
RewriteCond %{QUERY_STRING} ^tag=333$
RewriteRule ^$ https://aubreypwd.com/tags/freelancing.html? [R=301,L,QSD]
RewriteCond %{QUERY_STRING} ^tag=336$
RewriteRule ^$ https://aubreypwd.com/tags/ai.html? [R=301,L,QSD]
RewriteCond %{QUERY_STRING} ^tag=334$
RewriteRule ^$ https://aubreypwd.com/tags/career2025.html? [R=301,L,QSD]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# Manual redirects...
Redirect 301 /chatbot https://chatgpt.com/g/g-68f6b866bd008191a656f81da88ed3d0-let-s-chat-about-your-project
Redirect 302 /hire https://www.fiverr.com/aubreypwd?public_mode=true

