
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
progress,sub,sup{vertical-align:baseline}*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;tab-size:4}body{margin:0}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}table{border-color:currentcolor}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}legend{padding:0}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* Variables */
:root {

	/* Colors */
	--color-charchol: #222222;
	--color-jet: #2D2D2D;
	--color-white: #E3E3E3;
	--color-black: #000000;
	--color-white-ash: #919191;
	--color-electric-blue: #198CFF;
	--color-electric-purple: #ED52ED;
	--color-semi-space: #101010;
	--color-erie-dark: #1E1E1E;

	/* Spacing */
	--padding-critical-x: 15px;
	--padding-critical-y: 15px;
}

@view-transition {
	navigation: auto;
}

::view-transition-old(*),
::view-transition-new(*) {
	animation-duration: 75ms;
	animation-timing-function: linear;
}

/* Mozarts Ghost */
html {
	body {
		a.mozarts-ghost {
			display: none;
		}
	}
}

/* Layout */
html {
	background-color: var(--color-semi-space);

	body {
		background-color: var(--color-charchol);
		font-family: 'Segoe UI', Arial, sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: var(--color-white);

		/* All Links */
		a:link {
			color: var(--color-electric-blue);
		}

		a:visited {
			color: var(--color-electric-purple);
		}

		/* Main Header & Footer */
		> header,
		> footer {

			/* All Navigations */
			> nav {
				font-size: 13.5px;
				white-space: nowrap;
				overflow: auto;
				scrollbar-width: none;
				border-bottom: 1px solid var(--color-jet);
				-ms-scroll-style: none;

				&::-webkit-scrollbar {
					display: none;
				}

				> ul {
					display: flex;
					list-style: none;
					padding: 0 var(--padding-critical-x);
					margin: 0;
					gap: calc( var(--padding-critical-x) / 2 );

					li {
						padding: var(--padding-critical-y) var(--padding-critical-x);
						border-top: 2px solid transparent;
						border-bottom: 2px solid transparent;

						a:link,
						a:visited {
							color: var(--color-white);
							text-decoration: none;
							font-weight: bold;
						}
					}
				}
			}
		}

		/* Main Header */
		> header {
			> nav {

				li {
					border-bottom: 2px solid transparent;
				}

				li.current-menu-item {
					border-bottom: 2px solid var(--color-electric-blue);
				}
			}

			/* Profile in the header */
			.profile {
				border-top: 1px solid var(--color-semi-space);
				border-bottom: 1px solid var(--color-jet);
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: center;
				padding: calc( var(--padding-critical-y) * 2 ) var(--padding-critical-y);
				gap: calc( var(--padding-critical-x) / 2 );

				/* Gravatar */
				img {
					border-radius: 20px;
					display: none;
				}

				/* Site Information */
				.information {
					width: 100%;

					/* Site Title */
					h1 {
						margin: var(--padding-critical-x) 0;
						font-family: 'Instrument Serif';
						font-weight: 500;
						font-style: italic;
						font-size: 52px;
						color: var(--color-electric-blue);
					}

					/* Site Description */
					p {
						/* display: none; */
						color: var(--color-white-ash);
						font-size: 15px;
						font-style: italic;
						opacity: 0.8;
						line-height: 20px;
						margin-top: calc( var(--padding-critical-x) * 2 );
					}
				}
			}
		}

		/* Main Content Wrapper */
		> main {
			border-top: 1px solid var(--color-semi-space);
			border-bottom: 1px solid var(--color-jet);
			position: relative;

			/* Drop Shadow */
			&::before {
				display: block;
				height: 120px;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 8;
				content: " ";
				background: linear-gradient(to bottom, rgba(26,26,26,1) 0%,rgba(0,0,0,0) 100%);
			}

			/* Main Content */
			> .content {
				position: relative;
				z-index: 9;
				font-size: 15px;
				font-weight: 300;
				letter-spacing: 0;

				/* All Posts */
				article {

					/* Post Header */
					> header {

						a:link,
						a:visited {
							color: var(--color-white);
							text-decoration: none;
						}

						h1 {
							margin-top: 0;
							margin-bottom: 0;
							font-family: 'Instrument Serif';
							color: var(--color-white-ash);
							border-bottom: 1px solid var(--color-jet);
							box-shadow: 0 1px 0 var(--color-semi-space);
							font-size: 27px;
							line-height: 30px;
							display: block;
							width: 100%;

							padding:
								calc( var(--padding-critical-y) * 2 )
								var(--padding-critical-x)
							;

							&.has-desc {
								border: none;
								box-shadow: none;
								padding-bottom: calc( var(--padding-critical-x ) / 1 );
							}

							&.has-desc::before {
								content: "#";
							}
						}

						p {
							padding:
								calc( var(--padding-critical-y) / 2 )
								calc( var(--padding-critical-y) * 1 )
								calc( var(--padding-critical-x) * 1.5 )
							;

							border-bottom: 1px solid var(--color-jet);
							color: var(--color-white-ash);
							font-style: italic;
							margin: 0;
						}
					}

					/* All Post Content */
					.article-content {
						padding: calc( var(--padding-critical-y) * 2 ) var(--padding-critical-x) 0;
						margin-top: 0;

						/* The first and last element in the post content */
						> *:first-child { margin-top: 0; }
						> *:last-child { margin-bottom: 0; }

						/* Clear Floats */
						&:after {
							content: " ";
							clear: both;
							display: block;
						}

						/* Make sure nothing exceeds the content area */
						* {
							max-width: 100%;
						}

						/* Post Headers - Except first h1 - Layout */
						h1:not(:first-child),
						h2, h3, h4, h5, h6 {
							color: color-mix(in srgb, var(--color-electric-blue) 90%, transparent);
							font-family: 'Instrument Serif';
							font-weight: 300;
							display: block;
						}

						/* Make all first h1's and h2's the same font-size. */
						h1:not(:first-child),
						h2 {
							font-size: 38px;
							line-height: 48px;
						}

						/* All other headers after first h1 and h2's */
						h3, h4, h5, h6 {
							padding-bottom: 0;
							margin-bottom: 0;
							font-size: 30px;
							line-height: 40px;
							color: var(--color-white-ash);
						}

						/* All secondary headings that are after the first one should be spaced differently */
						h1:not(:first-child),
						h2:not(:first-child) {
							margin-bottom: calc( var(--padding-critical-x) / 1.5 );
							margin-top: calc( var(--padding-critical-x) * 3 );
						}

						/* Formatting tags */
						strong { font-weight: bold; }
						em { font-style: italic; }

						pre {
							max-width: 100%;
							overflow: scroll;
							padding: var(--padding-critical-y);
							margin: calc( var(--padding-critical-y) * 2 ) 0;
							background-color: var(--color-jet);
							border-radius: 5px;
							border: 1px solid var(--color-semi-space);
						}

						blockquote {
							border-left: 1px solid var(--color-electric-blue);
							margin: calc( var(--padding-critical-x) * 2 ) 0 calc( var(--padding-critical-x) * 2 ) var(--padding-critical-x);
							padding-left: var(--padding-critical-x);
							font-style: italic;

							*:last-child {
								margin-bottom: 0;
							}
						}

						/* Horizontal Lines */
						hr {
							height: 1px;
							border: 0.5px solid var(--color-jet);
							padding: var(--padding-critical-y) * 2;
						}

						/* All Media */
						img, picture, figure, video {
							max-width: 100%;
							height: auto;
							border-radius: 5px;

							&.aligncenter,
							&.alignright,
							&.alignleft {
								margin-left: auto;
								margin-right: auto;
								display: block;
							}

							figcaption {
								color: var(--color-white-ash);
								font-size: 14px;
							}
						}

						/* Images */
						figure {
							margin: calc( var(--padding-critical-y) * 2 ) auto;

							img {
								margin: 0 auto calc( var(--padding-critical-y) / 2 ) auto;
							}
						}

						/* Isolated Images */
						img,
						video {
							border: 1px solid var(--color-semi-space);
						}

						/* Videos */
						video {
							display: block;
							min-width: 100%;
							min-height: 500px;
							background: var(--color-black);
							border-radius: 10px !important;
						}

						/* Youtube Images */
						img[src*="://img.youtube"] {
							width: 773px;
							height: auto;
							min-width: 100%;
							min-height: calc( 438px / 2 );
							max-width: 100%;
							max-height: 438px;
							background: #000;
						}

						> iframe {
							background-color: var(--color-black);
						}

						/* Vimeo Embeds */
						.embed-vimeo {
							background-color: var(--color-black);

							> iframe {
								width: 100%;
							}
						}

						/* Youtube Embeds */
						& > iframe[src*="https://www.youtube"],
						& > * > iframe[src*="https://www.youtube"] {

							width: 100% !important;
							min-width: 100% !important;
							height: 450px;
							border-radius: 10px;
						}
					} /* .article-content */

					/* Post Footer */
					> footer {
						padding:
							calc( var(--padding-critical-y) * 2 )
							var(--padding-critical-x)
							calc( var(--padding-critical-y) * 2 )
							var(--padding-critical-x)
						;

						/* First element in the footer */
						> *:first-child {
							margin: 0;
						}

						p:last-child {
							margin-bottom: 0;
						}

						.date {
							color: var(--color-white-ash);
						}

						.tags {
							color: var(--color-white-ash);
							font-size: 90%;
							padding-top: var(--padding-critical-x);

							> span.prefix {
								opacity: 0.8;
							}

							a {
								&::before {
									content: "#";
								}
							}
						}
					}
				} /* article */

				/* Outside of article content. */

				/* Sticky Badge */
				.sticky {
					cursor: help;
					border-bottom: 2px dotted #d6bf4088;
					color: #d6bf4088;
					float: right;

					margin:
						calc( var(--padding-critical-x) * 2 )
						calc( var(--padding-critical-x) * 2 )
					;

					&:hover {
						color: #d6bf40;
					}
				}

				/* Latest Links */
				.article-link {
					padding: calc( var(--padding-critical-y) * 1 ) var(--padding-critical-x);
					display: flex;
					justify-content: space-between;
					align-items: center;
					background-color: var(--color-erie-dark);
					border-top: 1px solid var(--color-semi-space);
					border-bottom: 1px solid var(--color-jet);
					content-visibility: auto;

					&:last-child {
						border-bottom: 0;
					}

					.date {
						text-align: right;
						min-width: 40%;
						color: var(--color-white-ash);
					}
				}
			} /* .content */
		} /* main */

		/* Main Footer */
		> footer {
			border-top: 1px solid var(--color-semi-space);
			position: relative;
			z-index: 9;

			> nav {
				border-bottom: 1px solid var(--color-semi-space);
				background-color: var(--color-jet);

				li {
					border-top: 2px solid transparent;
				}

				li.current-menu-item {
					border-top: 2px solid var(--color-electric-blue);
				}
			}

			/* Copyright in the Footer */
			.copyright {
				padding: var(--padding-critical-y) var(--padding-critical-x);
				text-align: center;
				color: var(--color-white-ash);
			}
		} /* footer */
	} /* body */
} /* html */

/* The Blog Page */
html {
	body.blog {

		/* Main Header */
		> header {

			/* Latest First Menu Item */
			ul li:first-child {
				border-bottom: 2px solid var(--color-electric-blue);
			}
		}

		/* Blog Posts */
		article {
			border-bottom: 1px solid var(--color-jet);
		}
	}
}

/* All Posts Page */
html {

	/* Highlight latest post heading when one is loaded */
	body.latest-post {
		> header {
			> nav {
				li:first-child {
					border-bottom: 2px solid var(--color-electric-blue);
				}
			}
		}
	}

	/* Highlight All Posts when any other post is loaded */
	body:not(.latest-post):not(.tag):not(.has-tags):not(.page) {
		> header {
			> nav {
				li:nth-child(2) {
					border-bottom: 2px solid var(--color-electric-blue);
				}
			}
		}
	}

	body.tagged-335 {
		> header {
			> nav {
				li#menu-item-6928 {
					border-bottom: 2px solid var(--color-electric-blue);
				}
			}
		}
	}

	body.page-id-243 {

		/* Main Content Wrapper */
		main {

			/* Main Content */
			> .content {

				/* All Posts */
				> article {
					padding: 0;

					/* Post Header */
					> header {
						padding: calc( var(--padding-critical-y) * 2 ) var(--padding-critical-x);
						border-bottom: 1px solid var(--color-jet);

						h1 {
							padding: 0;
							margin: 0;
							border: 0;
							box-shadow: none;
						}
					}

					/* All Post Content */
					.article-content {
						padding: 0;

						/* Post Listings */
						.display-posts-listing {

							list-style-type: none;
							padding: 0;
							margin: 0;

							li {
								background-color: var(--color-erie-dark);
								padding: calc( var(--padding-critical-y) * 1 ) var(--padding-critical-x);
								border-top: 1px solid var(--color-semi-space);
								border-bottom: 1px solid var(--color-jet);
								justify-content: space-between;
								align-items: center;
								display: flex;

								&:last-child {
									border-bottom: 0;
								}

								.date {
									text-align: right;
									min-width: 40%;
									color: var(--color-white-ash);
								}
							}
						} /* ul */
					} /* .article-content */
				} /* article */
			} /* .content */
		} /* main */
	} /* body */
} /* html */

/* Desktop Shifts: Added to reduce any CLS for people starting in Deskop. */
@media (min-width: 900px) {
	html {
		body {
			margin: 34px auto;
			max-width: 850px;
		}
	}
}