/* Non-critical & Desktop CSS */

:root {
	--desktop-padding-multiplier: 2.5;
}

html {

	background-color: var(--color-semi-space);

	body {

		margin: 34px auto;
		border-radius: 10px;
		border: 1px solid var(--color-black);
		width: 850px;

		.profile {

			padding: calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) ) calc( var(--padding-main-x) * var( --desktop-padding-multiplier ) );

			.information {

				h1 {
					font-size: 24px;
				}

				p {
					font-size: 18px;
				}
			}
		}

		> header,
		> footer {
			nav {
				> ul {
					padding: 0 calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) );
				}
			}
		}

		main {

			.content {

				article {

					padding: calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) ) calc( var(--padding-main-x) * var( --desktop-padding-multiplier ) );

					> header {
						h1 {
							font-size: 32px;
							line-height: 42px;
						}
					}

					img,
					picture,
					figure {

						&.aligncenter {

							margin-left: auto;
							margin-right: auto;
							display: block;
						}

						&.alignright {

							float: right;
							margin: var(--padding-main-x) 0 var(--padding-main-x) var(--padding-main-x);
						}

						&.alignleft {

							float: left;
							margin: var(--padding-main-x) var(--padding-main-x) var(--padding-main-x) 0;
						}
					}
				}

				.more-posts,
				.article-link {

					padding-left: calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) );
					padding-right: calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) );
				}

				.more-posts {

					padding-top: calc( var(--padding-main-y) * var( --desktop-padding-multiplier ) );
					padding-bottom: calc( var(--padding-main-y) * 2 );
					font-size: 24px;
					color: var(--color-white);

				}
			}
		}

		footer {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}
