html {

	body {

		border-radius: 10px;
		border: 1px solid var(--color-black);

		a.mozarts-ghost {

			display: block;
			position: fixed;
			bottom: 20px;
			right: 20px;
			font-size: 16px;
			cursor: pointer;

			&:link,
			&:visited {
				color: var(--color-jet);
				text-decoration: none;
			}

			&:hover {
				color: var(--color-electric-purple);
			}
		}

		> header {

			.profile {

				img {
					margin-right: var(--padding-critical-x);
				}

				.information h1 {

					font-size: 72px;
					line-height: 72px;

					span {
						display: inline;
					}
				}

				.information p {
					margin-top: calc( var(--padding-critical-y) / 2 );
				}
			}
		}
	}
}
