/* Mozarts Ghost */
html {
	body {
		a.mozarts-ghost {

			display: block;
			position: fixed;
			bottom: 20px;
			right: 20px;
			font-size: 16px;
			cursor: pointer;

			&:link,
			&:visited {
				color: var(--color-jet);
				text-decoration: none;
			}

			&:hover {
				color: var(--color-electric-purple);
			}
		}
	}
}

/* Layout */
html {
	body {
		border-radius: 10px;
		border: 1px solid var(--color-black);

		/* Main Header */
		> header {

			/* Profile in the header */
			.profile {

				/* Gravatar */
				img {
					margin-right: var(--padding-critical-x);
				}

				/* Site Information */
				.information {

					/* Site Title */
					h1 {
						font-size: 72px;
						line-height: 72px;
					}

					/* Site Description */
					p {
						margin-top: calc( var(--padding-critical-y) / 2 );
					}
				}
			}
		}
	}
}
