:root {
	--mid-padding-multiplier: 2;
}

html {

	body {

		/* All posts page */
		&.page-id-243 {

			main {

				> .content {
					article {

						padding: 0;

						header {
							padding: calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
						}

						ul {

							li {
								padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
							}
						}
					}
				}
			}
		}

		> header {

			/* Profile */
			.profile {

				text-align: left;

				padding:
					var(--padding-critical-y)
					calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) )
					calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) )
					calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );

				.information h1,
				.information p {
					padding:
						calc( var(--padding-critical-y) / 2 )
						calc( var(--padding-critical-y) * 2 ) 0 0;
				}

				.information h1 {

					font-size: 58px;
					display: block;
					padding-left: calc( var(--padding-critical-y) / 4 );
				}

				.information p {
					font-size: 17px;
					line-height: 25px;
				}

				img {
					display: inline-block;
					min-height: 110px;
					max-height: 110px;
					min-width: 110px;
					max-width: 110px;
				}
			}
		}

		> header,
		> footer {

			nav {

				> ul {

					padding: 0 calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) );
					justify-content: left;
				}
			}
		}

		/* Main Content */
		main {
			.content {

				/* Posts */
				article {

					> footer {
						padding:
							calc( var(--padding-critical-y) * 2 )
							calc( var(--padding-critical-x) * var(--mid-padding-multiplier) )
							calc( var(--padding-critical-y) * 3 );
					}

					> header {

						h1 {
							font-size: 36px;
							line-height: 56px;
							text-align: left;
							font-weight: 300;

							margin-top: calc( var(--padding-critical-y) / 2 );
							margin-bottom: 0;

							padding:
								calc( var(--padding-critical-y) * var(--mid-padding-multiplier ) )
								calc( var(--padding-critical-x) * var(--mid-padding-multiplier) );
						}
					}

					.article-content {

							padding:
								calc( calc( var(--padding-critical-y) * 1.5 ) * var(--mid-padding-multiplier) )
								calc( var(--padding-critical-x) * var(--mid-padding-multiplier) )
								0;


							/* Bigger headers */
							h1:not(:first-child),
							h2 {
								font-size: 30px;
							}

							img,
							picture,
							figure {

								&.aligncenter {

									margin-left: auto;
									margin-right: auto;
									display: block;
								}

								&.alignright {

									float: right;
									margin: var(--padding-critical-x) 0 var(--padding-critical-x) var(--padding-critical-x);
								}

								&.alignleft {

									float: left;
									margin: var(--padding-critical-x) var(--padding-critical-x) var(--padding-critical-x) 0;
								}
							}
					}
				}

				.article-link {
					padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
				}
			}
		}

		footer {

			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}
