:root {
	--mid-padding-multiplier: 2.5;
}

html {

	background-color: var(--color-semi-space);

	body {

		/* All posts page */
		&.page-id-243 {

			main {

				> .content {
					article {

						padding: 0;

						header {
							padding: calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
						}

						ul {

							li {
								padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
							}
						}
					}
				}
			}
		}

		> header {

			/* Profile */
			.profile {

				padding: calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );

				.information h1 {

					font-size: 18px;
					line-height: 18px;
					margin: 0 auto var(--padding-critical-y) auto;
					display: block;
				}

				.information p {
					font-size: 15px;
				}
			}
		}

		> header,
		> footer {

			nav {

				> ul {

					padding: 0 calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) );
					justify-content: left;
				}
			}
		}

		/* Main Content */
		main {
			.content {

				/* Posts */
				article {

					padding: calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );

					> header {
						h1 {
							font-size: 32px;
							line-height: 42px;
						}
					}

					img,
					picture,
					figure {

						&.aligncenter {

							margin-left: auto;
							margin-right: auto;
							display: block;
						}

						&.alignright {

							float: right;
							margin: var(--padding-critical-x) 0 var(--padding-critical-x) var(--padding-critical-x);
						}

						&.alignleft {

							float: left;
							margin: var(--padding-critical-x) var(--padding-critical-x) var(--padding-critical-x) 0;
						}
					}
				}

				.article-link {
					padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
				}
			}
		}

		footer {

			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}
