:root {
	--mid-padding-multiplier: 2;
}

/* Layout */
html {
	body {

		/* Main Header */
		> header {

			/* Profile in the header */
			.profile {
				text-align: left;

				padding:
					var(--padding-critical-y)
					calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) )
					calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) )
					calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) )
				;

				.information {

					/* Both site title and description */
					h1,
					p {
						padding:
							calc( var(--padding-critical-y) / 2 )
							calc( var(--padding-critical-y) * 2 ) 0 0;
					}

					/* Site Title */
					h1 {
						font-size: 58px;
						display: block;
						padding-left: calc( var(--padding-critical-y) / 4 );
					}

					/* Description */
					p {
						font-size: 17px;
						line-height: 25px;
					}
				}

				/* Gravatar */
				img {
					display: inline-block;
					min-height: 110px;
					max-height: 110px;
					min-width: 110px;
					max-width: 110px;
				}
			}
		}

		/* Main Header & Footer */
		> header,
		> footer {
			nav {
				> ul {
					padding: 0 calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) );
					justify-content: left;
				}
			}
		}

		/* Main Content Wrapper */
		main {

			/* Main Content */
			> .content {

				/* All Posts */
				article {

					/* Footer */
					> footer {
						padding:
							calc( var(--padding-critical-y) * 2 )
							calc( var(--padding-critical-x) * var(--mid-padding-multiplier) )
							calc( var(--padding-critical-y) * 3 )
						;
					}

					/* Header */
					> header {
						h1 {
							font-size: 36px;
							line-height: 56px;
							text-align: left;
							font-weight: 300;
							margin-top: calc( var(--padding-critical-y) / 2 );
							margin-bottom: 0;
							padding:
								calc( var(--padding-critical-y) * var(--mid-padding-multiplier ) )
								calc( var(--padding-critical-x) * var(--mid-padding-multiplier) )
							;
						}

						p {

							padding:
								calc( var(--padding-critical-y) * 1 )
								calc( var(--padding-critical-x) * 2 )
								calc( var(--padding-critical-y) * 2.5 )
							;
						}
					}

					/* All Post Content */
					.article-content {
						padding:
							calc( calc( var(--padding-critical-y) * 1.5 ) * var(--mid-padding-multiplier) )
							calc( var(--padding-critical-x) * var(--mid-padding-multiplier) )
							0
						;

						/* Post Headers - Except first h1 - Layout */
						h1:not(:first-child), h2 {
							font-size: 27px;
						}

						/* All Media */
						img, picture, figure, video {

							&.aligncenter {
								margin-left: auto;
								margin-right: auto;
								display: block;
							}

							&.alignright {
								float: right;
								margin: var(--padding-critical-x) 0 var(--padding-critical-x) var(--padding-critical-x);
							}

							&.alignleft {
								float: left;
								margin: var(--padding-critical-x) var(--padding-critical-x) var(--padding-critical-x) 0;
							}
						}
					}
				} /* article */

				/* Outside of the content */

				/* Sticky Badge */
				.sticky {
					margin:
						calc( var(--padding-critical-x) * 3 )
						calc( var(--padding-critical-x) * 3 )
					;
				}

				/* Latest Links */
				.article-link {
					padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
				}
			}
		} /* main */

		/* Main Footer */
		footer {
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}

/* All posts page */
html {
	body.page-id-243 {

		/* Main Content Wrapper */
		main {

			/* Main Content */
			> .content {

				/* All Posts */
				> article {

					> header {
						padding: calc( var(--padding-critical-y) * var( --mid-padding-multiplier ) ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
					}

					/* All Post Content */
					.article-content {

						/* Post Listings */
						.display-posts-listing {
							li {
								padding: var(--padding-critical-y ) calc( var(--padding-critical-x) * var( --mid-padding-multiplier ) );
							}
						}
					}
				}
			}
		}
	}
}